.done {
  color: lightgray;
  text-decoration: line-through;
}

.pending {
  color: black;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.hidden {
  display: none;
  transition: 0.5s;
}

.title:hover ~ .hidden{
  display: block;
}